<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Follow Me</h3>
        <ul class="social-media-list">
          {%- if site.twitter_username -%}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
              <span class="username">{{ site.twitter_username| escape }}</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.github_username -%}
          <li>
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              <span class="username">{{ site.github_username| escape }}</span>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>About</h3>
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="wrapper">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}. All rights reserved.</p>
    </div>
  </div>
</footer>

<style>
.site-footer {
  background-color: #232F3E;  /* Amazon Blue */
  color: white;
  padding: 2em 0;
  margin-top: 3em;
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-heading {
  color: white;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.contact-list,
.social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li,
.social-media-list li {
  margin-bottom: 0.5em;
}

.contact-list a,
.social-media-list a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: color 0.3s ease;
}

.contact-list a:hover,
.social-media-list a:hover {
  color: #FF9900;  /* Amazon Ember */
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.footer-bottom {
  background-color: #131921;  /* Darker Amazon Blue */
  padding: 1em 0;
  margin-top: 2em;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  color: #CCCCCC;
  font-size: 0.9em;
}

@media screen and (max-width: 800px) {
  .footer-col {
    flex: 100%;
    margin-bottom: 1em;
  }
}
</style> 